<footer>
    <a href="index.php" id="book-list-link">Raamatud</a>
    <span class="pipe">|</span>
    <a href="book_add.php" id="book-form-link">Lisa raamat</a>
    <span class="pipe">|</span>
    <a href="author_view.php" id="author-list-link">Autorid</a>
    <span class="pipe">|</span>
    <a href="author_add.php" id="author-form-link">Lisa autor</a>
</footer>