<nav>
    <a href="?command=show_book_list" id="book-list-link">Raamatud</a>
    <span class="pipe">|</span>
    <a href="?command=show_book_form" id="book-form-link">Lisa raamat</a>
    <span class="pipe">|</span>
    <a href="?command=show_book_list" id="author-list-link">Autorid</a>
    <span class="pipe">|</span>
    <a href="?command=show_book_form" id="author-form-link">Lisa autor</a>
</nav>