* {
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    margin: 0px !important;
}

nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    margin: 0px auto;
    margin-top: 1em;
    width: 60%;

}

nav a {
    display: inline-block;
    color: white;
    font-size: 1.4em;
    text-align: center;
    padding: 14px 16px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

footer a {

    color: #333;
}

.pipe {
    color: #ffffff;
    font-size: 1em;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: #333;
    color: #ffffff;
}

table {
    border-spacing: 15px;
    width: 51%;
    margin: 0px auto;
    text-align: center;
    margin-top: 1em;
}

footer {
    padding: 2rem;
    display: block;
    text-align: center;
    width: 60%;
    background-color: white;
    left: 20%;
    position: absolute;
    margin-top: 2rem;
}

.book_form, form {
    margin: 0 auto;
    display: block;
    max-width: 28rem;
}
.button_cell {
    margin: 5px;
    text-align: left;
    display: inline-block;
    width: 100%;
}
.cell, .input-cell {
    line-height: 1.9em;
    margin: 5px;
    text-align: left;
    margin-top: 20px;
}

input[type='submit'] {
    display: inline-block;
    background-color: #333;
    color: white;
    float: right;
    width: 100%;
    cursor: pointer;
}

input#delete {
    display: inline-block;
    background-color: brown;
    color: white;
    float: right;
    width: 100%;
    cursor: pointer;
}

.label-cell, label {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.cell {
}
select, input {
    width: 100%;
    cursor: pointer;
}

input[type="radio"] {
    width: 7%;
}

input[type="checkbox"] {
    width: 7%;
}

@media only screen and (max-width:780px) {
    * {
    font-size: 14px;
}
}

.last_item {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    color: #333;
}

.padlock {
    max-width: 30px;
    margin: 0px auto;
    display: flex;
}

/*
tr:nth-child(even) {
    background-color: #333;
    color: white;
}

 */

.error {
    padding: 3px;
    display: inline-block;
    background-color: rgb(125,0,0);
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
}

.container, main {
    position: relative;
    margin: 10px 0px;
}

.container{
    text-align: center;
}


#message-block {
    padding: 3px;
    display: inline-block;
    background-color: lightgrey;
    color: #3c3c3c;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 50%;

}

#message-block{
    border-width: 1px;
    border-style: solid;
    border-radius: .25rem;
    line-height: 1.7rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.heading {
    font-size: 2em;
    font-weight: bold;
    margin: 3px auto;
    text-align: center;
    color: #3c3c3c;
}

select, fieldset, input {
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: .25rem;
}


#input-form {
    margin: 0 auto;
    padding-top: 2rem;

    display: flex;
    max-width: 28rem;
    flex-wrap: wrap;
}

#input-form .label-cell {
    width: 8rem;
    line-height: 1.9rem;
    text-align: right;
    padding-right: 1rem;
}

#input-form .input-cell {
    line-height: 1.9rem;
}

#input-form .button-cell {
    width: 19rem; /** same as input */
    text-align: right;
    padding-top: 2rem;
}

.new_error{
    text-align: center !important; width: 50%;
    background-color: rgb(125,0,0);
    color:white;
    margin: 10px;
    padding: 5px;"
}