<form method="post">

    Eesnimi: <input name="firstName" value="{{ $person->firstName }}"><br>
    Perekonnanimi: <input name="lastName" value="{{ $person->lastName }}"><br>
    Telefon: <input name="phone" value="{{ $person->phone }}"><br>

    <br>

    <input type="submit" name="previewButton" value="Eelvaade">

</form>