Eesnimi: {{ $person->firstName }}<br>
Perekonnanimi: {{ $person->lastName }}<br>
Telefon: {{ $person->phone }}<br>

<form method="post">

    <input type="hidden" name="personData" value="{{ $personData }}">

    <input type="submit" name="backButton" value="Tagasi">

</form>
