<div id="message-block" tpl-if="$message" >
    <tpl>
        <strong> {{  $message  }}</strong><br>
    </tpl>
</div>

<div id="book_table">
    <table>
        <tr>
            <th>Eesnimi</th>
            <th>Perekonnanimi</th>
            <th>Hinne</th>
        </tr>
        <tpl tpl-foreach="$authors as $author">
                <tr>
                    <td><a href="../index.php?command=author_edit&id={{  $author->id  }}">{{  $author->firstName  }}</a></td>
                    <td>{{  $author->lastName  }}</td>
                    <td><tpl tpl-foreach="range(1, $author->grade) as $grade" tpl-trim-contents>
                    <span>&#9733;</span></tpl></td>
                </tr>
        </tpl>
    </table>
</div>
