<tpl tpl-foreach="$errors as $error">
        <div class="error" id="error-block" tpl-if="$errors" >
        <strong> {{  $error  }}</strong>
        </div><br>
</tpl>

<form class="book-form" action="?command=show_author_form" method="POST">
    <div class="cell">
        <label for="firstName">Eesnimi:</label>
        <input id="firstName" name="firstName"
            value="{{  $author->firstName  }}"
            type="text" />
    </div>
    <div class="cell">
        <label for="lastName">Perekonnanimi:</label>
        <input id="lastName" name="lastName"
            value="{{  $author->lastName  }}"
            type="text" />
    </div>
    <div class="cell">Hinnang:
        <tpl tpl-foreach="range(1, 5) as $grade">
            <input type="radio"
                   id="grade{{  $grade }}"
                   name="grade"
                   tpl-checked="$grade == $author->grade"
                   value="{{  $grade }}">
            <label for="grade{{  $grade  }}"> {{  $grade  }}</label></tpl>
    </div>
    <div class="cell"></div>
    <div class="cell button-cell">
        <input name="deleteButton"
               tpl-if="$isEditForm"
               class="danger"
               type="submit"
               value="Kustuta">
        <input type='hidden' name="command" value="{{ $command }}" >
        <input type='hidden' name="id" value="{{ $id }}" >
        <input name="submitButton" type="submit" value="Salvesta">
    </div>
</form>
