<tpl tpl-foreach="$errors as $error">
    <div class="error" id="error-block" tpl-if="$errors" >
        <strong> {{  $error  }}</strong>
    </div><br>
</tpl>
<form class="book-form" action="?command=book_form_submit" method="POST">
    <div class="label-cell"><label for="title">Pealkiri:</label></div>
    <div class="cell"><input
            id="title"
            name="title"
            value="{{  $book->title  }}"
            type="text" /></div>
    <div class="cell">
        <label for="author1">Autor I: </label>
        <select id="author1" name="author1">
            <option value=""></option><tpl tpl-foreach="$authors as $author"><option value="{{  $author->id  }}" tpl-selected="$bookAuthors[0]->id == $author->id">{{  $author->firstName  }} {{  $author->lastName  }}</option></tpl>
        </select>
    </div>
    <div class="cell">
        <label for="author2">Autor II: </label>
        <select id="author2" name="author2">
            <option value=""></option><tpl tpl-foreach="$authors as $author"><option value="{{  $author->id  }}" tpl-selected="$bookAuthors[1]->id == $author->id">{{  $author->firstName  }} {{  $author->lastName  }}</option></tpl>
        </select>
    </div>
    <div class="cell" id="grade">
        <label for="grade">Hinne: </label>
        <tpl tpl-foreach="range(1, 5) as $grade">
        <input type="radio"
               id="grade{{  $grade }}"
               name="grade"
               tpl-checked="$grade == $book->grade"
               value="{{  $grade }}">
            <label for="grade{{  $grade  }}"> {{  $grade  }}</label></tpl>
    </div>
    <div class="cell">
        <label for="read">Loetud:</label>
        <input name="isRead"
               id="read"
        tpl-checked = "$book->isRead"
        type="checkbox" /></div>

    <div class="cell"></div>
    <div class="cell button-cell">
        <input name="deleteButton"
               tpl-if="$isEditForm"
               class="danger"
               type="submit"
               value="Kustuta">
        <input type='hidden' name="command" value="{{ $command }}" >
        <input type='hidden' name="id" value="{{ $id }}" >
        <input name="submitButton" type="submit" value="Salvesta">
    </div>
</form>
