<div id="message-block" tpl-if="$message" >
    <tpl>
        <strong> {{  $message  }}</strong><br>
    </tpl>
</div>

<div id="book_table">
    <table>
        <tr>
            <th>Pealkiri</th>
            <th>Autor</th>
            <th>Hinne</th>
        </tr>
        <tpl tpl-foreach="$books as $book">
            <tr>
                <td><a href="../index.php?command=book_edit&id={{  $book->id  }}">{{  $book->title  }}</a></td>
                <td>{{  $book->getAuthorsString()  }}</td>
                <td><tpl tpl-foreach="range(1, $book->grade) as $grade" tpl-trim-contents >
                    <span>&#9733;</span></tpl></td>
            </tr>
        </tpl>
    </table>
</div>
