<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<nav>
    <a href="?command=show_book_list" id="book-list-link">Raamatud</a>
    <span class="pipe">|</span>
    <a href="?command=show_book_form" id="book-form-link">Lisa raamat</a>
    <span class="pipe">|</span>
    <a href="?command=show_author_list" id="author-list-link">Autorid</a>
    <span class="pipe">|</span>
    <a href="?command=show_author_form" id="author-form-link">Lisa autor</a>
</nav>
<main>
<div tpl-include="{{ $contentPath }}" class="container"></div>

</main>

</body>
</html>
